<%= pagination @conn, @pagination, [current_class: "active"], fn p -> %>
  <nav>
    <div class="ui buttons">
      <!--
      <li class="page-item"><%= pagination_link p, :first, label: "Primero", class: "pagination-link", force_show: true%></li>
    -->
      <%= for {pagenum, _, active} <- p.page_items do %>
        <%= if pagenum != 0 do %>
          <a class="ui button <%= if(active, do: 'active') %>" href="?page=<%= pagenum%><%= if @busqueda, do: "&s=#{@busqueda}" %>"><%= pagenum%></a>
        <% end %>
      <% end %>
      <!--
      <li class="page-item"><%= pagination_link p, :last, label: "Último", class: "pagination-link", force_show: true %></li>
    -->
    </div>
  </nav>
<% end %>
