<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :nombre, class: "control-label" %>
    <%= text_input f, :nombre, class: "form-control" %>
    <%= error_tag f, :nombre %>
  </div>

  <div class="form-group">
    <%= label f, :rut, class: "control-label" %>
    <%= text_input f, :rut, class: "form-control" %>
    <%= error_tag f, :rut %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
