<div class="ui grid">
  <%= if assigns[:busqueda] do %>
  <div class="sixteen wide column">
    <a href="/empresas/">&laquo; Ver todas</a>
  </div>
  <% end %>
  <div class="eight wide column">
    <%= if assigns[:busqueda] do %>
      <h2>Buscando "<%= @busqueda %>"
    <% else %>
      <h2>Todas las Empresas</h2>
    <% end %>
  </div>
  <div class="eight wide column">
    <form action="/empresas/buscar" method="get">
      <div class="ui fluid action input">
        <input name="s" type="text" placeholder="Buscar por Nombre..." value="<%= @busqueda %>">
        <button class="ui icon button" type="submit">
          <i class="search icon"></i>
        </button>
      </div>
  </form>
  </div>
</div>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Juicios Civiles</th>
      <th>Juicios Laborales</th>
      <th style="min-width: 110px">Rut</th>

      <th style="min-width: 50px"></th>
    </tr>
  </thead>
  <tbody>
<%= for empresa <- @empresas do %>
    <tr>
      <td><%= empresa.nombre %></td>
      <td><%= empresa.numero_juicios_civiles %></td>
      <td><%= empresa.numero_juicios_laborales %></td>
      <td><%= empresa.rut %></td>

      <td class="text-right">
        <span><%= link "Ver", to: empresa_path(@conn, :show, empresa), class: "btn btn-primary btn-sm" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
<%= render WisdomToothWeb.PaginationView, "pagination.html", conn: @conn, pagination: @pagination, busqueda: @busqueda %>
<span><%= link "Nueva Empresa", to: empresa_path(@conn, :new) %></span>
