<div data-controller="empresa--show">
  <a href="/empresas/">&laquo; Listado de empresas</a>

  <h2><%= @empresa.nombre %> <small>RUT: <%= @empresa.rut %></small></h2>

  <div class="ui buttons change_filtro" data-action="click->empresa--show#change_filtro">
    <button class="ui button active" data-filtro="">Todos</button>
    <button class="ui button" data-filtro="Civil">Civiles</button>
    <button class="ui button" data-filtro="Laboral">Laborales</button>
  </div>

  <div class="ui floating dropdown labeled icon button">
    <i class="list alternate icon"></i>
    <span class="text">Seleccione Procedimiento</span>
    <div class="menu" data-action="click->empresa--show#change_filtro_procedimiento">
      <div class="item" data-filtro="">Todos los Procedimientos</div>
      <div class="item" data-filtro="Accesorio">Accesorio</div>
      <div class="item" data-filtro="Administrativo">Administrativo</div>
      <div class="item" data-filtro="Civil">Civil</div>
      <div class="item" data-filtro="Ejecutivo">Ejecutivo</div>
      <div class="item" data-filtro="Laboral">Laboral</div>
      <div class="item" data-filtro="Quiebra">Quiebra</div>
    </div>
  </div>

  <table id="listado_juicios" class="ui celled table">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Tipo Procedimiento</th>
        <th>Rol</th>
        <th>Fecha</th>
        <th>Caratulado</th>
        <th>Tribunal</th>

        <th></th>
      </tr>
    </thead>
    <tbody>
    <%= for juicio <- @juicios do %>
      <tr>
        <td><%= juicio.tipo %></td>
        <td><%= juicio.tipo_procedimiento %></td>
        <td><%= juicio.rol %></td>
        <td><%= juicio.fecha %></td>
        <td><%= juicio.caratulado %></td>
        <td><%= juicio.tribunal %></td>

        <td class="text-right">
          <%= if juicio.url do %>
            <span><%= link "Ver", to: juicio_path(@conn, :detalle, juicio), class: "btn btn-default btn-xs" %></span>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
