<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="ui error message">
      <p>¡Algo salió mal! Por favor revisa los errores para continuar:</p>
    </div>
  <% end %>
	
	<div class="ui form">
		<%= field_for f, :nombre, fn f -> %>
  	  <%= text_input f, :nombre %>
		<% end %>
  	
  	<%= field_for f, :email, fn f -> %>
  	  <%= text_input f, :email %>
  	<% end %>
  	
  	<%= field_for f, :password, fn f -> %>
  	  <%= text_input f, :password %>
		<% end %>
  	
  	<div class="form-group">
  	  <%= submit "Guardar", class: "ui button" %>
  	</div>
	</div>
<% end %>
