<h2>Listado de Usuarios</h2>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for usuario <- @usuarios do %>
    <tr>
      <td><%= usuario.nombre %></td>
      <td><%= usuario.email %></td>

      <td class="text-right">
        <span><%= link "Detalle", to: usuario_path(@conn, :show, usuario), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Editar", to: usuario_path(@conn, :edit, usuario), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Eliminar", to: usuario_path(@conn, :delete, usuario), method: :delete, data: [confirm: "¿Estás seguro que deseas eliminar el usuario?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "Nuevo Usuario", to: usuario_path(@conn, :new) %></span>
