<h2>Detalle del Usuario</h2>

<ul>

  <li>
    <strong>Nombre:</strong>
    <%= @usuario.nombre %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @usuario.email %>
  </li>

</ul>

<span><%= link "Editar", to: usuario_path(@conn, :edit, @usuario) %></span>
<span><%= link "Volver al listado", to: usuario_path(@conn, :index) %></span>
