<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :rol, class: "control-label" %>
    <%= text_input f, :rol, class: "form-control" %>
    <%= error_tag f, :rol %>
  </div>

  <div class="form-group">
    <%= label f, :fecha, class: "control-label" %>
    <%= date_select f, :fecha, class: "form-control" %>
    <%= error_tag f, :fecha %>
  </div>

  <div class="form-group">
    <%= label f, :caratulado, class: "control-label" %>
    <%= text_input f, :caratulado, class: "form-control" %>
    <%= error_tag f, :caratulado %>
  </div>

  <div class="form-group">
    <%= label f, :tribunal, class: "control-label" %>
    <%= text_input f, :tribunal, class: "form-control" %>
    <%= error_tag f, :tribunal %>
  </div>

  <div class="form-group">
    <%= label f, :rut, class: "control-label" %>
    <%= text_input f, :rut, class: "form-control" %>
    <%= error_tag f, :rut %>
  </div>

  <div class="form-group">
    <%= label f, :url, class: "control-label" %>
    <%= text_input f, :url, class: "form-control" %>
    <%= error_tag f, :url %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
