<div class="ui grid">
  <%= if assigns[:busqueda] do %>
  <div class="sixteen wide column">
    <a href="/juicios/">&laquo; Ver todos</a>
  </div>
  <% end %>
  <div class="eight wide column">
    <%= if assigns[:busqueda] do %>
      <h2>Buscando "<%= @busqueda %>"
    <% else %>
      <h2>Todas los Juicios</h2>
    <% end %>
  </div>
  <div class="eight wide column">
    <form action="/juicios/buscar" method="get">
      <div class="ui fluid action input">
        <input name="s" type="text" placeholder="Buscar por Rol o Caratulado..." value="<%= @busqueda %>">
        <button class="ui icon button" type="submit">
          <i class="search icon"></i>
        </button>
      </div>
  </form>
  </div>
</div>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Rol</th>
      <th>Fecha</th>
      <th>Caratulado</th>
      <th>Tribunal</th>
      <th>Rut</th>

      <th style="min-width: 50px"></th>
    </tr>
  </thead>
  <tbody>
<%= for juicio <- @juicios do %>
    <tr>
      <td><%= juicio.rol %></td>
      <td><%= juicio.fecha %></td>
      <td><%= juicio.caratulado %></td>
      <td><%= juicio.tribunal %></td>
      <td><%= juicio.rut %></td>

      <td class="text-right">
        <%= if juicio.url do %>
          <span><%= link "Ver", to: juicio_path(@conn, :detalle, juicio), class: "btn btn-primary btn-sm" %></span>
        <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
<%= render WisdomToothWeb.PaginationView, "pagination.html", conn: @conn, pagination: @pagination, busqueda: @busqueda %>
