<h2>Show Juicio</h2>

<ul>

  <li>
    <strong>Rol:</strong>
    <%= @juicio.rol %>
  </li>

  <li>
    <strong>Fecha:</strong>
    <%= @juicio.fecha %>
  </li>

  <li>
    <strong>Caratulado:</strong>
    <%= @juicio.caratulado %>
  </li>

  <li>
    <strong>Tribunal:</strong>
    <%= @juicio.tribunal %>
  </li>

  <li>
    <strong>Rut:</strong>
    <%= @juicio.rut %>
  </li>

</ul>

<span><%= link "Edit", to: juicio_path(@conn, :edit, @juicio) %></span>
<span><%= link "Back", to: juicio_path(@conn, :index) %></span>
