<div class="ui middle aligned center aligned grid">
  <div class="column" style="max-width: 600px">
		<%= form_for @conn, sesion_path(@conn, :create), [as: "sesion", class: "ui large form"], fn (f) -> %>
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
						<%= text_input f, :email, placeholder: "Email" %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
						<%= password_input f, :password, placeholder: "Contraseña" %>
          </div>
        </div>
        <button type="submit" class="ui fluid large teal submit button">Iniciar Sesión</button>
      </div>

      <div class="ui error message"></div>
		<% end %>
  </div>
</div>