<h2>Listing Litigantes</h2>

<table class="table">
  <thead>
    <tr>
      <th>Rol</th>
      <th>Rut</th>
      <th>Tipo persona</th>
      <th>Nombre</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for litigante <- @litigantes do %>
    <tr>
      <td><%= litigante.rol %></td>
      <td><%= litigante.rut %></td>
      <td><%= litigante.tipo_persona %></td>
      <td><%= litigante.nombre %></td>

      <td class="text-right">
        <span><%= link "Show", to: litigante_path(@conn, :show, litigante), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: litigante_path(@conn, :edit, litigante), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: litigante_path(@conn, :delete, litigante), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Litigante", to: litigante_path(@conn, :new) %></span>
