<h2>Show Litigante</h2>

<ul>

  <li>
    <strong>Rol:</strong>
    <%= @litigante.rol %>
  </li>

  <li>
    <strong>Rut:</strong>
    <%= @litigante.rut %>
  </li>

  <li>
    <strong>Tipo persona:</strong>
    <%= @litigante.tipo_persona %>
  </li>

  <li>
    <strong>Nombre:</strong>
    <%= @litigante.nombre %>
  </li>

</ul>

<span><%= link "Edit", to: litigante_path(@conn, :edit, @litigante) %></span>
<span><%= link "Back", to: litigante_path(@conn, :index) %></span>
