<p>Estimado/a,</p>

<p>Se han detectado nuevos juicios en el sistema de consulta del Poder Judicial. Se incluye detalle para su revisión.</p>

<table>
  <tr>
    <td>Tipo</td>
    <td>Rol</td>
    <td>Fecha</td>
    <td>Caratulado</td>
    <td>Tribunal</td>
    <td>RUT</td>
    <td>Ver</td>
  </tr>
  <%= for juicio <- @juicios do %>
    <tr>
      <td><%= juicio.tipo %>
      <td><%= juicio.rol %></td>
      <td><%= juicio.fecha %></td>
      <td><%= juicio.caratulado %></td>
      <td><%= juicio.tribunal %></td>
      <td><%= juicio.rut %></td>
      <td><a href="<%= url_detalle_juicio(juicio) %>">Ver Juicio</a></td>
    </tr>
  <% end %>
</table>
